<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Note Mail Cards</title>
    <link rel="stylesheet" href="/card.css" />
  </head>
  <body>
    <header>
      <div class="logo">elevato <span>Notes</span></div>
      <nav class="navbar">
        <a href="/host">Add Note</a>
        <!-- <a href="/addnote.html">Add Notes</a> -->
        <a href="/card.html">All Notes</a>

        <a href="/host/delete">Delete Notes</a>
      </nav>
    </header>

    <div class="container">
      <div class="card-grid">
        <% registeredHome.forEach(home => { %>
        <div class="note-card">
          <div class="card-header"><%= home.Notename %></div>
          <div class="profile-section">
            <img
              src="<%= home.imageurl %>"
              class="avatar"
              alt="Profile"
              name="imageurl"
            />
            <h2>Hi, <%= home.person %></h2>
            <p class="subtitle"><%= home.Details %></p>
          </div>
          <!-- <a href="/card.html/<%= home.id%>" class="cta-button"
            >Explore Story</a
          > -->
          <form action="/host/delete/<%= home.id%>" method="post">
            <button type="submit" class="cta-button">Delete</button>
          </form>

          <div class="card-footer">
            © 2025 elevato Market · <a href="#">Unsubscribe</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
